﻿/* @override 
	http://iviewsource.com/exercises/ajax/mystyle.css */

body {
    background: #c5c1c0;
}

#searcharea {
    margin: 0 auto;
    text-align: center;
    background: #3cc47c;
    padding: 20px;
    width: 30%;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
}

    #searcharea label {
        font: 800 1.3em Arial;
        text-transform: uppercase;
        padding-bottom: 5px;
        color: white ;
    }

    #searcharea p {
        margin: 0;
        line-height: 1em;
        padding-bottom: 5px;
        font-weight: 800;
    }

    #searcharea input {
        width: 80%;
        text-align: center;
    }

#update {
    font-family: Georgia, "Times New Roman", Times, serif;
    width: 70%;
    margin: 0 auto;
    border-top: 1px dotted #CCC;
}

    #update ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

        #update ul li {
            width: 100%;
            padding: 0 20px;
            background: #EEE;
            padding-bottom: 10px;
            height: 110px;
            overflow: hidden;
            border-bottom: 1px dotted #CCC;
            -webkit-animation: myanim 1s;
            -moz-animation: myanim 1s;
            -o-animation: myanim 1s;
            animation: myanim 1s;
            -webkit-transition: height 0.3s ease-out;
            -moz-transition: height 0.3s ease-out;
            -o-transition: height 0.3s ease-out;
            transition: height 0.3s ease-out;
        }

    #update li:hover {
        background: #FFFCE5;
        min-height: 110px;
        height: 250px;
        overflow: visible;
    }

    #update h2 {
        margin: 0;
        padding: 0;
        font-size: 1.2em;
        padding-bottom: 5px;
        padding-top: 20px;
        font-family: Arial, Helvetica, sans-serif;
        color: #BF5841;
        border-bottom: 1px dotted #CCC;
        margin-bottom: 10px;
    }

    #update img {
        float: left;
        width: 80px;
        margin-right: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
    }

@-webkit-keyframes myanim {
    0% {
        opacity: 0.3;
    }

    100% {
        opacity: 1.0;
    }
}

@-moz-keyframes myanim {
    0% {
        opacity: 0.3;
    }

    100% {
        opacity: 1.0;
    }
}

@-o-keyframes myanim {
    0% {
        opacity: 0.3;
    }

    100% {
        opacity: 1.0;
    }
}

@keyframes myanim {
    0% {
        opacity: 0.3;
    }

    100% {
        opacity: 1.0;
    }
}


/* Upload image to S3 Bucket*/
/* Creating the Modal Dialog Box and the text boxes*/

.modal-body input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

#bio {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: block;
    resize: vertical;
}

.modal-body input[type=file] {
    margin-left: 35px;
}

/* Upload Btn and after Uploaded*/

.input-file-container {
    position: relative;
    width: 225px;
}

.js .input-file-trigger {
    display: block;
    padding: 14px 45px;
    background: #39D2B4;
    color: #fff;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
}

.js .input-file {
    position: absolute;
    top: 0;
    left: 0;
    width: 225px;
    opacity: 0;
    padding: 14px 0;
    cursor: pointer;
}

    .js .input-file:hover + .input-file-trigger,
    .js .input-file:focus + .input-file-trigger,
    .js .input-file-trigger:hover,
    .js .input-file-trigger:focus {
        background: #34495E;
        color: #39D2B4;
    }

.file-return {
    margin: 0;
}

    .file-return:not(:empty) {
        margin: 1em 0;
    }

.js .file-return {
    font-style: italic;
    font-size: .9em;
    font-weight: bold;
}

    .js .file-return:not(:empty):before {
        content: "Selected file: ";
        font-style: normal;
        font-weight: normal;
    }

form {
    width: 225px;
    margin: 0 auto;
    text-align: center;
}

h2 + P {
    text-align: center;
}

.txtcenter {
    margin-top: 4em;
    font-size: .9em;
    text-align: center;
    color: #aaa;
}

.copy {
    margin-top: 2em;
}

    .copy a {
        text-decoration: none;
        color: #1ABC9C;
    }
